{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name= viewport content= width=device-width initial-scale=1 >
    <link rel="icon" type="image/png" href="https://twemoji.maxcdn.com/2/svg/1f7e2.svg" />
    <link rel="stylesheet" href="{% static '\css\blog\base.css' %}">
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--header menu-->
    <header>
       <div class="hearder-content">
         <div class="logo">
           <a href="{% url 'blog:home' %}"><h1>ThrowRock<b>Blog</b></h1></a>
         </div>
         <div class="menu">
           <nav>
            <ul>
              <li id = "opc_0" class = "" ><a id = "opc_a_0" class = "" href="{% url 'blog:home' %}">Inicio</a></li>
              <li id = "opc_1" class = "" ><a id = "opc_a_1" class = "" href="{% url 'blog:categorias' %}">Categorias</a></li>
              <li id = "opc_2" class = "" ><a id = "opc_a_2" class = "" href="{% url 'blog:blog' %}">Blog</a></li>
              <li id = "opc_3" class = "" ><a id = "opc_a_3" class = "" href="{% url 'blog:tutoriales' %}">Tutoriales</a></li>
              <li id = "opc_4" class = "" ><a id = "opc_a_4" class = "" href="{% url 'blog:contacto' %}">Contacto</a></li>
            </ul>
           </nav>
         </div>
       </div>
    </header>

    <!--cover page-->
    <div class="container-cover" style="{{image}} {{color}}">

      <div class="container-info-cover">
        <div class="search-bar">
          <form  method="get">
            <div class="">
                  <input type="search" name="buscar" value="buscar">
            </div>
          </form>
        </div>
        <h1>{% block title_page %}{% endblock%}</h1>
        <p>{% block title_page_paragraph %}{% endblock%}</p>
      </div>
    </div>
    <!--content page-->
    <div class="container-content">

    </div>
    {% block content %}
    {% endblock %}


    <script type="text/javascript">

      function cambioMenuSelectClass(name_li, name_a){
        link = document.getElementById(name_li);
        link.classList.add('menu-selecte');
        a = document.getElementById(name_a);
        a.classList.add('text-menu-selecte');
      }

      {% block var  %}{% endblock %}

      switch (select_menu){
        case 0:
          cambioMenuSelectClass('opc_0', 'opc_a_0');
        break;

        case 1:
          cambioMenuSelectClass('opc_1', 'opc_a_1');
        break;

        case 2:
          cambioMenuSelectClass('opc_2', 'opc_a_2');
        break;

        case 3:
          cambioMenuSelectClass('opc_3', 'opc_a_3');
        break;

        case 4:
          cambioMenuSelectClass('opc_4', 'opc_a_4');
        break;

        default:
        break;
      }
    </script>
  </body>
</html>
