{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name= viewport content= width=device-width initial-scale=1 >
    <link rel="icon" type="image/png" href="https://twemoji.maxcdn.com/2/svg/1f7e2.svg" />
    <link rel="stylesheet" href="{% static '\css\blog\base.css' %}">
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--header menu-->
    <header>
       <div class="hearder-content">
         <div class="logo">
           <a href="{% url 'blog:home' %}"><h1>ThrowRock<b>Blog</b></h1></a>
         </div>

         <div class="menu">
           <nav>
            <ul>
              <li id = "opc_0" class = "" ><a id = "opc_a_0" class = "" href="{% url 'blog:home' %}">Inicio</a></li>
              <li id = "opc_1" class = "" ><a id = "opc_a_1" class = "" href="{% url 'blog:categorias' %}">Categorias</a></li>
              <li id = "opc_2" class = "" ><a id = "opc_a_2" class = "" href="{% url 'blog:blog' %}">Blog</a></li>
              <li id = "opc_3" class = "" ><a id = "opc_a_3" class = "" href="{% url 'blog:tutoriales' %}">Tutoriales</a></li>
              <li id = "opc_4" class = "" ><a id = "opc_a_4" class = "" href="{% url 'blog:contacto' %}">Contacto</a></li>
            </ul>
           </nav>
         </div>
       </div>
    </header>
    <!--cover page-->
    <div class="container-cover">
      <div class="container-info-cover">
        <h1>{% block title_page %}{% endblock%}</h1>
        <p>{% block title_page_paragraph %}{% endblock%}</p>
      </div>
    </div>
    <!--content page-->
    <div class="container-content">

    </div>
    {% block content %}
    {% endblock %}


    <script type="text/javascript">
      {% block var  %}{% endblock %}
      switch (select_menu){
        case 0:
          link = document.getElementById('opc_0');
          link.classList.add('menu-selecte');
          a = document.getElementById('opc_a_0');
          a.classList.add('text-menu-selecte');
        break;

        case 1:
          link = document.getElementById('opc_1');
          link.classList.add('menu-selecte');
          a = document.getElementById('opc_a_1');
          a.classList.add('text-menu-selecte');
        break;

        case 2:
          link = document.getElementById('opc_2');
          link.classList.add('menu-selecte');
          a = document.getElementById('opc_a_2');
          a.classList.add('text-menu-selecte');
        break;

        case 3:
          link = document.getElementById('opc_3');
          link.classList.add('menu-selecte');
          a = document.getElementById('opc_a_3');
          a.classList.add('text-menu-selecte');
        break;

        case 4:
          link = document.getElementById('opc_4');
          link.classList.add('menu-selecte');
          a = document.getElementById('opc_a_4');
          a.classList.add('text-menu-selecte');
        break;

        default:
        break;
      }
    </script>
  </body>
</html>
