{% extends 'blog/base.html'%}
{% load static %}

{% block links %}<link rel="stylesheet" href="{% static '\css\blog\category.css' %}">{% endblock %}

{% block title %} Categorias | TRB {% endblock %}

{% block title_page %}{% endblock%}
{% block title_page_paragraph %}{% endblock%}

{% block content %}

  {% if categories %}
    <div class="category-conteiner-box">
      <h2>Selecione una categoria: </h2>
    {% for category in categories %}
      <div class="category-box">
        <a href="#"><h2 class = "category-box-logo">{{category.name.0|title}} </h2><p>{{category.name|title}}</p></a>

      </div>
    {% endfor %}
    </div>

  {% else %}
    <p>NO HAY CATEGORIAS</p>
  {% endif %}

{% endblock %}

{% block var  %}var select_menu = 1; {% endblock %}
