{% extends 'blog/base.html'%}
{% load static %}

{% block links %}<link rel="stylesheet" href="{% static '\css\blog\category.css' %}">{% endblock %}

{% block title %} Categorias | TRB {% endblock %}

{% block title_page %}{% endblock%}
{% block title_page_paragraph %}{% endblock%}

{% block content %}
  {% if error %}
  <div class="category-conteiner-box">
    <h2 class = "error">{{ error }}</h2>
  </div>
  {% else %}

    {% if categories == None %}
      {% if posters %}

      {% for post in posters %}
      <div class="conteiner-post">
        <a href="{% url 'blog:post' post.slug %}">
          <h2>{{post.name}}</h2>
          <h3>{{post.description}}</h3>
        </a>

        <p>publicado por <a href="#">{{post.author.name}}</a> en {{post.creation_date}} | TIPO: {{ post.get_type_display }}</p>
        </div>
        {% endfor %}

      {% else %}

      <div class="category-conteiner-box">
        <h2 class = "error">NO HAY PUBLICACIONES</h2>
      </div>
      {% endif %}

    {% elif categories %}

    <div class="category-conteiner-box">
      <h2>Selecione una categoria: </h2>
      {% for category in categories %}
      <div class="category-box">
        <a href="{%url 'blog:categoria_name' category.slug %}"><h2 class = "category-box-logo">{{category.name.0|title}} </h2><p>{{category.name|title}}</p></a>

      </div>
      {% endfor %}
    </div>

    {% else  %}
    <div class="conteiner-post">
      <h2 class = "error">NO HAY CATEGORIAS</h2>
    </div>
    {% endif %}

  {% endif %}

{% endblock %}

{% block var  %}var select_menu = 1; {% endblock %}
